

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/autho-header.ejs')%>
    <div class="content">
    <div class="article">
        <img src="<%= blog.image%>" alt="">
        <div class="icons">
            <div class="date">
                <svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 1.81255V4.16384H8V1.81255H6V4.16384H5C3.89 4.16384 3.01 5.22192 3.01 6.51513L3 22.9742C3 24.2674 3.89 25.3255 5 25.3255H19C20.1 25.3255 21 24.2674 21 22.9742V6.51513C21 5.22192 20.1 4.16384 19 4.16384H18V1.81255H16ZM19 22.9742H5V10.0421H19V22.9742Z" fill="black" fill-opacity="0.54"/>
                </svg>
                <p>26.06.2020</p>         
            </div>
            <div class="views">
                <svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 5.92731C7 5.92731 2.73 9.58357 1 14.7447C2.73 19.9057 7 23.562 12 23.562C17 23.562 21.27 19.9057 23 14.7447C21.27 9.58357 17 5.92731 12 5.92731ZM12 20.6229C9.24 20.6229 7 17.9894 7 14.7447C7 11.4999 9.24 8.86642 12 8.86642C14.76 8.86642 17 11.4999 17 14.7447C17 17.9894 14.76 20.6229 12 20.6229ZM12 11.2177C10.34 11.2177 9 12.7931 9 14.7447C9 16.6962 10.34 18.2716 12 18.2716C13.66 18.2716 15 16.6962 15 14.7447C15 12.7931 13.66 11.2177 12 11.2177Z" fill="black" fill-opacity="0.54"/>
                </svg>
                <p>21</p>
            </div>
            <div class="comments">
                <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.54" fill-rule="evenodd" clip-rule="evenodd" d="M20 3.1638H4C2.9 3.1638 2 4.22188 2 5.51509V26.6767L6 21.9741H20C21.1 21.9741 22 20.9161 22 19.6228V5.51509C22 4.22188 21.1 3.1638 20 3.1638Z" fill="black"/>
                </svg>
                <p>4</p>
            </div>
            <div class="category">
                <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.54" fill-rule="evenodd" clip-rule="evenodd" d="M21.001 7.59191H19V18.1727H5.99902V20.524C5.99902 21.173 6.44902 21.6997 7.00002 21.6997H17.999L22 26.4023V8.76756C22 8.11743 21.552 7.59191 21.001 7.59191ZM16.001 2.88818H3C2.448 2.88818 2 3.41487 2 4.06501V20.5241L5.999 15.8215H16.001C16.552 15.8215 17 15.2948 17 14.6446V4.06501C17 3.41487 16.552 2.88818 16.001 2.88818Z" fill="black"/>
                </svg>
                <p><%= blog.category.name%></p>
            </div>
            <div class="author">
                <svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14.7447C14.21 14.7447 16 12.6403 16 10.0421C16 7.4439 14.21 5.33949 12 5.33949C9.79 5.33949 8 7.4439 8 10.0421C8 12.6403 9.79 14.7447 12 14.7447ZM12 17.096C9.33 17.096 4 18.6713 4 21.7985V24.1498H20V21.7985C20 18.6713 14.67 17.096 12 17.096Z" fill="black" fill-opacity="0.54"/>
                </svg>
                <p><%= blog.author.email%></p>
            </div>
            </div>
        <h3><%= blog.title%></h3>
        <p><%= blog.blogDescription%></p>
            <h3>Что такое комплексные виджеты Webix?</h3>
            <p>В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации. <br>
                <br>Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время программистам. Это визуальное воплощение концепции low-code платформы, которой является Webix. Комплексные виджеты Webix сразу же готовы к работе, потому что они содержат функциональный фронт-энд слой и, при необходимости, снабжены различными опциями для бэк-энда. <br> 
                <br>Гибкая архитектура Webix позволяет легко настраивать эти приложения, расширять их функциональность и интегрировать в существующие решения.</p>
                <h3>Комментарии</h3>
    </div>
    <% if(comments){ 
        comments.forEach(comment => {
    %>
    <div class="comments-author">
        <img src="/images/avatar.png" alt="">
        <h3><%=comment.authorId.full_name%></h3>
    </div>
    <div class="comments-text">
        <p><%=comment.text%></p>
    </div>
    <% }) 
    } %>
    <% if(user && user._id) {%>
    <form class="my-comment" onsubmit="sendComment(event)" >
        <input type="hidden" value="<%= user._id%>" id="comment_author">
        <input type="hidden" value="<%= blog._id%>" id="comment_blog">
        <textarea id="comment-text"></textarea>
        <button type="submit">Отправить</button>
    </form>
    <%}else{%>
    <div class="leave-comment">
        <p>Чтобы оставить комментарий, <a href="/register">зарегистрируйтесь</a> или <a href="/login">войдите</a> в аккаунт.</p>
    </div>
    <%}%>
</div>
<div class="categories">
    <h1>Категории</h1>
    <% 
    categories.forEach((category) => {
    %>
    <a href=""><%=category.name%></a>
    <%
    })
    %>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<%- include('partials/scripts.ejs')%>
</body>
</html>